<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>348214018399-ej0s17cnugudpn9ell5iisln3e3b70ps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.348214018399-ej0s17cnugudpn9ell5iisln3e3b70ps</string>
	<key>API_KEY</key>
	<string>AIzaSyA2YxLinSndgn0X1i7SoIrFwZDjI8Jcx9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>348214018399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mocka.R6-Plus</string>
	<key>PROJECT_ID</key>
	<string>r6-plus</string>
	<key>STORAGE_BUCKET</key>
	<string>r6-plus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348214018399:ios:0f468767f75e7e3b</string>
	<key>DATABASE_URL</key>
	<string>https://r6-plus.firebaseio.com</string>
</dict>
</plist>